* {
    box-sizing: border-box;
}

html, body, #root, .App, .editor {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
    text-align: center;
}

.editor {
    background: #fbfbfb;
}

.editor-section {
    position: relative;
    width: 100%;
}

.editor-section {
    height: calc(100%/4 - 275px/4);
    padding: 1rem;
}

.editor-section.three {
    height: 275px;
    padding: 0;
}

.editor-panel {
}

.editor-button {
    margin: 1rem;
    height: 4rem;
    width: 14rem;
    background: no-repeat;
    border: 7px dashed #ff8800;
    font-size: 1.5rem;
    color: #575757;
    font-weight: bold;
    cursor: pointer;
}

.banner-container {
    width: 1200px;
    height: 270px;
    border: 1px solid lightgrey;
    box-sizing: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.banner {
    position: relative;
}

.banner * {
    position: absolute;
}

.selected {
    z-index: 1000!important;
}

:root {
    --adjuster-square-size: 10px;
    --adjuster-square-offset: calc(var(--adjuster-square-size) / -2);
    --highlight-color: #49beeb;
    --adjuster-line-size: 14px;
    --adjuster-line-offset: calc(var(--adjuster-line-size) / -2);
}

/* Highlight */
.highlight-box {
    border: 1px solid var(--highlight-color);
    width: 100%;
    height: 100%;
}

/* Adjuster */
.adjuster-container {
    border: 2px solid var(--highlight-color);
    width: 100%;
    height: 100%;
}

.adjuster-dragger {
    height: 100%;
    width: 100%;
}

.adjuster.line {
    background: none;
}

.adjuster.line.left {
    cursor: ew-resize;
    width: var(--adjuster-line-size);
    height: 100%;
    left: var(--adjuster-line-offset);
}
.adjuster.line.top {
    cursor: ns-resize;
    height: var(--adjuster-line-size);
    width: 100%;
    top: var(--adjuster-line-offset);
}
.adjuster.line.right {
    cursor: ew-resize;
    width: var(--adjuster-line-size);
    height: 100%;
    right: var(--adjuster-line-offset);
}
.adjuster.line.bottom {
    cursor: ns-resize;
    height: var(--adjuster-line-size);
    width: 100%;
    bottom: var(--adjuster-line-offset);
}

.adjuster.square {
    width: var(--adjuster-square-size);
    height: var(--adjuster-square-size);
    border: 1px solid lightgrey;
    position: absolute;
    background: white;
}

.adjuster.square.top {
    top: var(--adjuster-square-offset);
}
.adjuster.square.right {
    right: var(--adjuster-square-offset);
}
.adjuster.square.bottom {
    bottom: var(--adjuster-square-offset);
}
.adjuster.square.left {
    left: var(--adjuster-square-offset);
}

.adjuster.square.top.left {
    cursor: nwse-resize;
}
.adjuster.square.top.right {
    cursor: nesw-resize;
}
.adjuster.square.bottom.right {
    cursor: nwse-resize;
}
.adjuster.square.bottom.left {
    cursor: nesw-resize;
}

.dimensions {
    bottom: -1.4rem;
    font-size: 0.6rem;
    background: var(--highlight-color);
    color: white;
    padding: 0 0.1rem 0.1rem;
    border-radius: 5px;
    display: flex;
    transform: translateX(-50%);
    left: 50%;
}
/* Adjuster */
